.blueTitle {
    color: #106FDF;
    font-size: 21px;
}

.okButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.okButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 44px;
    background: #106FDF;
    border-radius: 24px;
    color: #ffffff;
    border: 1px #ffffff solid;
    text-decoration: none;
}