.innerDisplayNewPlan {
    display: flex;
    align-items: center;
}
.dataTitle {
    color: rgba(32, 38, 46, 0.7);
    font-size: 16px;
}
.dataAmount {
    color: #20262E;
    font-size: 21px;
}
.PlanData {
    width: 325px;
    height: 70px; 
    /* box-shadow: 0px 0px 3px rgba(32, 38, 46, 0.3); */
    box-shadow: 0px 0px 6px rgba(32, 38, 46, 0.2);
    background-color: #ffffff;
    margin: 16px 8px;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column !important;
    text-align: left;
    /* margin-top: 20px; */
}